:root {
  --background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.App{
  background-image: var(--background-image)
}

.Header-top{
  height: 7vh;
}
.Mainbody{
  height: 80vh;
}
.Footer-button{
  height: 7vh;

}
.formm{
  width: 600px;
}
.Search-form{
width: 500px;
}

@media screen and (min-width: 680px) {
  .Search-form{
    margin-top: 20px;
  width: 80%;
  }
}