:root {
  --background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.App{
  background-image: var(--background-image)
}


/* layout */
.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Mainbody{
  flex-grow: 1;
}


.header-frm{
  width: 80vw;
}

.search-form {
  width: 30vw;


}
@media screen and (max-width :990px) {
  .header-frm {
    display: flex;
   flex-direction: column;
   align-items:flex-start;
   margin-left: 10px;
  }
  .menu{

    display: flex;
    flex-direction: row;
  }

  .search-form {
    width: 500px;
   }
   
}
@media screen and (max-width :700px) {

  .search-form {
   width: 350px;
  }
  .header-frm {
    display: flex;
   flex-direction: column;
   align-items:flex-start;
   margin-top: 10px;
   margin-left: 10px;

   
  }
  .menu{
    text-align: start;
  }
}

.phoneInput{
  border: none;
}
